{% extends 'adminBase.html' %}

{% block content %}
        <!-- Full-Page Grid Layout -->
        <div class="dashboard-grid">
            <div class="dashboard-item bg-light">
                <span>Manage Users</span>
            </div>
            <div class="dashboard-item bg-light">
                <span><a href="{{url_for('manage_product')}}">Manage Product</a></span>
            </div>
            <div class="dashboard-item bg-light">
                <span>Reports</span>
            </div>
            <div class="dashboard-item bg-light">
                <div class="d-flex flex-column align-items-center">
                    <img src="{{ url_for('static', filename='images/company.png') }}" alt="Miners United Corp Logo" class="logo mb-3">
                    <span>Miners United Corp</span>
                </div>
            </div>
        </div>
{% endblock %}
